<pool type="disk">
    <name>nvme_disk_pool</name>
    <source>
        <device path='/dev/nvme2n1'>
            <freeExtent start="1048576" end="375083588608" />
        </device>
        <format type='gpt'/>
    </source>

    <target>
        <path>/dev</path>
    </target>
</pool>
